<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <th>Target Url</th>
          <td><%= link_to @url.url, @url.url %></td>
        </tr>
        <tr>
          <th>Shortened Url</th>
          <td><%= link_to shortned_url(key: @url.key), shortned_url(key: @url.key) %></td>
        </tr>
      </table>

      <div class="panel-footer">
        <%= link_to "Shorten Another Url", new_url_path, class: 'btn btn-primary pull-right' %>
        <%= link_to "Show All Urls", urls_path, class: 'btn btn-default pull-right mr-5' %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>