<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <th>Target Url</th>
          <th>Shortened Url</th>
        </tr>

        <% @urls.each do |url| %>
          <tr>
            <td><%= link_to url.url, url.url %></td>
            <td><%= link_to shortned_url(key: url.key), shortned_url(key: url.key) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
