<div class="container-fluid">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Shorten your links</h3>
        <%= form_tag urls_path do %>
          <div class="form-group form-group-md">
            <%= label_tag "url", nil, class: "sr-only" %>
            <%= text_field_tag :url, params[:url], class: 'form-control', placeholder: 'Your original URL here', autocomplete: 'off' %>

            <% if flash[:error].present? %>
              <div class="error-text">
                <%= flash[:error] %>
              </div>
            <% end %>
          </div>
          <%= submit_tag 'SHORTEN URL', class: 'btn-primary btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>