main {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #EEE;
}

.error-text {
  color: #E8443B;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: -5px;
}

.mr-5 {
  margin-right: 5px;
}